.homeContactSection_container {
  width: 100%;
  background-color: $peach;
  border-radius: 15px;
  height: 292px;
  overflow: hidden;
  position: relative;
  @include flex_midle;
  bottom: -2%;
  color: white;
}
.homeContactSection_bg {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 0px;
  div {
    display: flex;
    flex-direction: row-reverse;
  }
  span {
    width: 292px;
    height: 292px;
    border-radius: 292px;
    opacity: 0.3089;
    background: linear-gradient(
      90deg,
      rgba(93, 2, 2, 0) 0%,
      rgba(93, 2, 2, 0.5) 100%
    );
  }
}

.homeContactSection_layout {
  margin: 95px;
  width: 100%;
  @include flex_separation;
  z-index: 1;
}

.homeContactSection_text {
  max-width: 459px;
  width: 100%;
}
