.projectCard_container {
  border-radius: 15px;
  @include flex_midle;
  max-width: 540px;
  width: 100%;
  height: 100%;
  position: relative;
  color: $white;
  overflow: hidden;
  img {
    width: 100%;
  }
  picture {
    @include flex_midle;
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      object-fit: cover;
      height: 100%;
    }
    object-fit: contain;
  }
  overflow: hidden;
}

.projectCard_horizontal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 640px;
  max-width: 540px;
  width: 100%;
  .projectCard_container {
    height: 305px;
  }
}

.projectCard_text {
  height: 100%;
  z-index: 2;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #00000067;
  a {
    color: $white;
  }
}
