/// @type Color
$peach: #E7816B;
/// @type Color
$light_peach: #FFAD9B;
/// @type Color
$very_light_peach: #FDF3F0;
/// @type Color
$black: #1D1C1E;
/// @type Color
$dark_grey: #333136;
/// @type Color
$white: #FFF;
/// @type Color
$light_grey: #F1F3F5
